html {
    min-width: 320px;
    overflow-x: hidden;
  
    &:lang(rtl) {
      direction: rtl;
    }
  }
  
  body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 14px;
    user-select: none;
  }
  
  a {
    text-decoration: none !important;
  }
  
  p {
    padding: 0;
    margin: 0;
  }
  
  li,
  ul {
    padding: 0;
  }
  